<meta name="google-site-verification" content="IQqwyPjhVf0Tgj-JgnCojcdoAS2gtGae0hcTtyewCfk" />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7933433521355116"
     crossorigin="anonymous"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('a[href^="http"]').forEach(function(link) {
    if (!link.href.includes(location.hostname)) {
      link.setAttribute('target', '_blank');
      link.setAttribute('rel', 'noopener noreferrer');
    }
  });
});
</script>